div, h2, p, span, input {
    font-family: Calibri;
}

#tarsMultiPick::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: #F4A55C;
}
#SetGoal, #SetTool{
    cursor: pointer;
}
.input-group.col-sm-6{
    width: 50%;
    float: right;
}

#smallModal > .modal-sm > .modal-content {
    border-radius: 15px;
    border: solid #ffc107 2px;
}

#smallModal{
    background-color: rgba(0, 0, 0, 0.52);
}
.modal-sm>.modal-content>.modal-body>.form-group>.form-line {
    width: 100%;
}

#smallModalLabel {
    font-size: 20px;
    color: #F46549
}
span.tag.label.label-tag.tar {
    font-weight: normal;
    font-size: 15px;
    background-color: #F4D657;
    color: black
}
#phTarsLabels{
    display: inline-block;
}
#tarsMultiPick::-moz-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: #F4A55C;
}

#tarsMultiPick:-ms-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: #F4A55C;
}
optgroup {
    font-size: 18px;
}

#phLabels {
    margin-top: 15px;
}
.label {
    font-size: 17px;
}
.user-helper-dropdown {
    float: left;
    box-shadow: none;
    color: white;
}
.studentDetalis{
    margin-right: 45px;
    color: grey;
}
span, datalist {
    text-align: right;
}

.studentIcons, .targetEditAndDel {
    vertical-align: super;
}

#saveAreaBTNandAddSub.btn.btn-primary.btn-lg {
    color: #073636;
}

#addNewTarToTala {
    border-radius: 5px;
    width: 50%;
    font-size: medium;

}
#OpenTargetsListToAddNew{
    text-align:center;
}
.deleteBtn, .updateBtn {
    padding: 3px;
    margin: 2px;
    float: left;
    color: #aeaeae;
}

.header > img {
    float: right;
}

.studentCard{
    border-radius: 10px;
    margin-bottom: 25px;
}

.surveys {
    border-radius: 10px;
    background-color: #73A4A4;
    text-align: center;
}
.card.surveys > .header > h2 {
    font-weight: bold;
    font-size: 20px;
    color: #3f5656;
}
.surveys > .body > .card {
    background-color: white;
    border-radius: 8px;
    text-align: right;
    font-size: 16px;
    padding: 0px 10px 10px 10px;
}
.header.studentHeader h2 {
    text-align: center;
    font-weight: bold;
}
#addNewArea.btn.waves-effect,
#addNewSubArea.btn.waves-effect,
#addNewTar.btn.waves-effect {
    margin: 6px 10px;
    background-color: transparent;
    color: #73A4A4;
    text-align: right;
    width: auto;
    box-shadow: 0 0 0 0;
    font-size: 18px;
    float: right;
}

.btn.waves-effect.filterBtn {
    text-align: center;
    width: auto;
    box-shadow: 0 0 0 0;
    margin: 2px;
}
#cancelBTN {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 2px 10px rgba(0, 0, 0, 0);
}

#filetButtons {
    margin-bottom: 10px;
}

.sorting_1 {
    float: right;
    width: max-content;
}

xx {
    color: #73A4A4;
    color: #96C4DA;
    color: #5D7373;
    color: #F4D657;
    color: #F4A55C;
    color: #F46549;
}



