* {
    font-family: Calibri;

}

.user-helper-dropdown {
    float: left;
    box-shadow:none;
    color: white;
}

span {
    text-align: right;
}

.deleteBtn, .updateBtn {
    padding: 3px;
    margin: 2px;
}

.card .header #AddEditTar {
    color: #73A4A4;
}

button#addNewTar.btn.waves-effect {
    width: 115px;
    margin-right: 30px;
    background-color: #73A4A4;
    color: white;
}
#cancelBTN {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 2px 10px rgba(0, 0, 0, 0);
}

xx {
    color: #73A4A4;
    color: #96C4DA;
    color: #5D7373;
    color: #F4D657;
    color: #F4A55C;
    color: #F46549;
}



