div, h2, p {
    font-family: Calibri;

}
optgroup {
    font-size: 18px;
}

#phLabels{
    margin-top:15px;
}
.label {
    font-size: 17px;
}
.user-helper-dropdown {
    float: left;
    box-shadow: none;
    color: white;
}

span, datalist {
    text-align: right;
}

#saveAreaBTNandAddSub.btn.btn-primary.btn-lg {
    color: #073636;
}

.deleteBtn, .updateBtn {
    padding: 3px;
    margin: 2px;
}

img{
    float:right;
}

#addNewArea.btn.waves-effect,
#addNewSubArea.btn.waves-effect,
#addNewTar.btn.waves-effect {
    margin: 6px 10px;
    background-color: transparent;
    color: #73A4A4;
    text-align: right;
    width: auto;
    box-shadow: 0 0 0 0;
    font-size: 18px;
}
#cancelBTN {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 2px 10px rgba(0, 0, 0, 0);
}

xx {
    color: #73A4A4;
    color: #96C4DA;
    color: #5D7373;
    color: #F4D657;
    color: #F4A55C;
    color: #F46549;
}



